
.ig{
  height: 65vh;
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

  /*comment*/



  @import url(https://fonts.googleapis.com/css?family=Lato:300,400);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css);

.user_avatar {
  width: 65px;
  height: 65px;
  display: inline-block;
  vertical-align: middle;
}
.user_avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.create_new_comment{
  display: flex;
  margin-top: 5%;
  width: 100%;
}

  /* comment section*/
  
  .txt{

    font-size: 20px;
}
.hjk{

    background-color: rgb(77, 155, 245);
    padding:10px 15px;
    width:fit-content;
    border: none;
    border-radius: 4px;
    display: block;
color:white;
transition: all .5s;
cursor: pointer;

}
.hjk:hover{
    background-color: rgb(17, 118, 233);
}

.pp-round{
    width: 120px;
    height:120px;
    border-radius: 50%;
}
.shift{
margin-left:30px;
}
.coms{
    display:flex;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 5px;
width:50%;

margin-top: 5px;}
.cn{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.c-d{
margin-left:4px;
font-size: 13px;
}
.c-m{
width: 100%;
}

.det{
margin-left: 20px;
}
.repBtn{
color:rgb(0, 119, 255);
text-decoration: underline;
cursor: pointer;
width: fit-content;
}
.etc{
display:flex;

}
.etc p{
border-radius: 4px;
border: 1px solid rgb(34, 34, 34);
padding: 5px 10px;
width:fit-content;
cursor: pointer;
}
.et:hover{
background-color: black;
color:white;
}
.c-del{
margin-left: 10px;
}
.c-del:hover{

border-color:rgb(250, 43, 88);
color:white;
background-color: rgb(250, 43, 88);
}

.holder{
  margin-top: 9%;
  margin-left: 10%;
  display: block;
}

.pep,.se{
  color: lightblue;
  display: none;
  margin-left: 10px;
}

.x{
  color: rgb(197, 56, 75);
  cursor: pointer;
}

.btn_edit{
  display: none;
}

.post-title{
  font-size: 30px;
}